@charset "utf-8";

/* Custom Variables */
@import "./colors.scss";

/* Custom Fonts */
// @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("./fonts/Inconsolata/static/Inconsolata/Inconsolata-Regular.ttf")
    format("truetype");
}

/* Overwrite Bulma Defaults here, before import */
$family-primary: "Barlow", sans-serif;
$family-secondary: "Inconsolata", monospace;
$family-code: "Inconsolata", monospace;
$navbar-breakpoint: 0;
$navbar-height: 2rem;

/* Import entire Bulma framework from node_modules */
@import "~bulma/bulma";

/* Or import selected Bulma Sass */
/* Remove these if you import the entire Bulma framework above */
// @import "~bulma/sass/utilities/_all.sass";
// ...
// @import "~bulma/sass/elements/button.sass";

/* Custom Global Settings */
html {
  overflow: hidden; // bulma unnecessarily sets overflow-y to scroll
}

/* Custom Classes */
@import "./json-editor/adaptorTheme.css";

.has-background-transparent {
  background-color: rgba(255, 255, 255, 0.1);
}

.is-full-vh {
  height: 100vh;
}

.is-full-height {
  height: 100%;
}

.is-full-width {
  width: 100%;
}

.is-navbar-high {
  height: 9%;
}

.is-routerview-high {
  height: 88%;
}

.is-footer-high {
  height: 3%;
}

.is-over-line {
  z-index: 2;
}

.is-grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
