<template>
  <div class="toolbar is-full-height">
    <div class="tabs">
      <ul>
        <li class="tab-link is-active" @click="openTab($event, 'tab_action')">
          <a>ACTIONS</a>
        </li>
        <li class="tab-link" @click="openTab($event, 'tab_assets')">
          <a>ASSETS</a>
        </li>
      </ul>
    </div>
    <div class="tab-container">
      <!-- TAB ASSETS CONTAINER -->
      <div id="tab_action" class="tab-content">
        <div v-if="sortedActions" class="toollist">
          <div
            v-for="(plugin, index) in sortedActions"
            :key="`plugin-${index}`"
            class="plugin-group"
          >
            <h5 class="header mb-2">{{ index.toUpperCase() }}</h5>
            <div
              v-for="action in plugin"
              :key="`action-${action.title}`"
              :title="`${action.tooltip || action.action}`"
              draggable="true"
              @dragstart="setDragPayload($event, action)"
              class="action mb-2 is-grabbable"
              @dblclick="log($event, action)"
            >
              {{ action.title }}
            </div>
          </div>
        </div>
      </div>
      <!-- TAB ASSETS CONTAINER -->
      <div id="tab_assets" class="tab-content" style="display: none">
        <pre v-if="level">{{ JSON.stringify(level.config, null, 2) }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "vue";

export default {
  name: "Toolbar",
  setup() {
    const store = useStore();
    const sortedActions = computed(() => store.getters.actionsSortedByPlugin());
    const level = computed(() => store.state.data.level);
    const setDragPayload = (e, action) => {
      e.dataTransfer.setData("action", action.action);
      e.dataTransfer.setData("mode", action.mode);
    };

    const log = (e, content) => console.log(content);

    const openTab = (e, tabName) => {
      // hide everything
      const links = document.getElementsByClassName("tab-link");
      const tabs = document.getElementsByClassName("tab-content");
      Array.from(links).forEach((node) => node.classList.remove("is-active"));
      Array.from(tabs).forEach((node) => (node.style.display = "none"));
      // show selection
      document.getElementById(tabName).style.display = "block";
      e.currentTarget.classList.add("is-active");
    };

    return { setDragPayload, log, openTab, sortedActions, level };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.toolbar {
  border-right: 1px solid #dbdbdb;
}

.tab-container {
  overflow-y: scroll;
  height: 90%;
}

.plugin-group:nth-of-type(2) > div {
  background-color: $yellow-5;
}

.plugin-group:nth-of-type(3) > div {
  background-color: $green-5;
}

.plugin-group:nth-of-type(4) > div {
  background-color: $pink-5;
}

.plugin-group:nth-of-type(5) > div {
  background-color: $blue-5;
}

.action {
  font-size: 1em;
  padding: 0.2em;
  background-color: $purple-4;
  max-width: 90%;
}
.action:hover {
  background-color: $purple-5;
}
</style>
