<template>
  <!------------------------ PLUGIN  ------------------------>
  <div
    v-for="plugin in plugins"
    :key="plugin.name"
    class="plugin-settings-container has-background-white m-2"
  >
    <Collapsible :class="['pl-1', plugin.core ? 'has-background-light' : '']">
      <template v-slot:header>
        <div
          class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between p-1"
        >
          <div>{{ plugin.name.toUpperCase() }}</div>
          <div v-if="!plugin.core" class="is-pulled-right">
            <Icon
              :icon="['fa', 'redo']"
              @click.stop="$store.dispatch('fetchPlugins')"
            />
            <Icon
              :icon="['far', 'trash-alt']"
              class="m-4"
              @click.stop="
                $store.dispatch('deletePlugin', { plugin: plugin.name })
              "
            />
          </div>
        </div>
      </template>
      <template v-slot>
        <details>
          <summary>DATA</summary>
          <pre>{{ JSON.stringify(plugin, null, 2) }}</pre>
        </details>
        <!------------------------ PLUGIN SETTINGS  --------------------------->
        <JsonEditor
          v-if="!plugin.core"
          :schema="plugin.settings.schema"
          :data="plugin.settings.data"
          @dataChanged="
            $store.dispatch('updatePlugin', {
              name: plugin.name,
              data: { settings: { data: $event } },
            })
          "
        />
        <button
          v-if="!plugin.core"
          class="button m-1 is-pulled-right has-background-dark has-text-light"
          @click="
            $store.dispatch('syncPluginSettings', { plugin: plugin.name })
          "
        >
          SAVE
        </button>
        <!------------------------ PLUGIN COLLECTIONS  ------------------------>
        <br v-if="!plugin.core" />
        <h2 v-if="!plugin.core">ITEMS</h2>
        <div
          v-for="(value, collection, index) in plugin.items"
          :key="index"
          class="ml-2 m-1 p-1"
        >
          <h2>{{ collection.toUpperCase() }}</h2>
          <!------------------------ PLUGIN ITEMS IN COLLECTION --------------->
          <div
            v-for="(item, index) in value.items"
            :key="collection + '_item_' + index"
            class="m-2 p-2 has-background-blue-2 has-text-white"
          >
            <span>{{ item?.name || `${collection}_${index}` }}</span>
            <Icon
              :icon="['fas', 'trash-alt']"
              class="is-pulled-right has-text-light"
              @click.stop="
                $store.dispatch('deletePluginItem', {
                  plugin: plugin.name,
                  collection: collection,
                  index: index,
                })
              "
            />
            <Icon
              :icon="['fa', 'sync-alt']"
              class="is-pulled-right has-text-light"
              @click.stop="
                $store.dispatch('reconnectPluinItem', {
                  plugin: plugin.name,
                  collection: collection,
                  index: index,
                })
              "
            />
            <JsonEditor
              :schema="value.schema"
              :data="item"
              @dataChanged="
                $store.dispatch('updatePluginItem', {
                  plugin: plugin.name,
                  collection: collection,
                  index: index,
                  data: $event,
                })
              "
            />
            <button
              class="button mt-1 has-background-dark has-text-light"
              @click="
                handleSyncPluginItemClicked($event, {
                  plugin: plugin,
                  collection: collection,
                  index: index,
                  item: item,
                })
              "
            >
              SAVE
            </button>
          </div>
          <button
            class="button has-background-blue-5 has-text-white is-full-width"
            @click="
              $store.dispatch('addItemToPlugin', {
                plugin: plugin.name,
                collection,
              })
            "
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 8V16"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8 12H16"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div></div>
        </div>
      </template>
    </Collapsible>
  </div>
  <button @click="handleAddPluginClick($event)" class="button m-2">
    ADD PLUGIN
  </button>
  <!------------------------ ADD PLUGIN MODAL --------------------------------->
  <Modal
    v-if="addPluginModal.visible"
    :modal="addPluginModal"
    @closeModal="addPluginModal.visible = false"
    :cssClasses="{
      message: true,
    }"
  >
    <template v-slot:header>ADD PLUGIN</template>
    Which Plugin do you want to add?<br />
    <div class="select">
      <select v-model="pluginSelected">
        <option v-for="plugin in availablePlugins" :key="plugin">
          {{ plugin.name }}
        </option>
      </select>
    </div>
    <template v-slot:footer>
      <button class="button is-primary m-1" @click="addPlugin">ADD</button>
      <button class="button m-1" @click="addPluginModal.visible = false">
        CANCEL
      </button>
    </template>
  </Modal>
</template>

<script>
import Collapsible from "@/components/Collapsible.vue";
import JsonEditor from "@/components/JsonEditor.vue";
import Modal from "@/components/Modal.vue";

import { computed, ref, onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  name: "PluginSettings",
  components: { Collapsible, JsonEditor, Modal },
  setup() {
    const store = useStore();
    const plugins = computed(() => store.state.data.plugins);
    const router = useRouter();
    const handleSyncPluginItemClicked = (
      e,
      { plugin, collection, index, item }
    ) => {
      store
        .dispatch("syncPluginItem", {
          plugin: plugin.name,
          collection: collection,
          index: index,
        })
        .then(() => {
          console.log(item);
          if (item.is_not_synced) router.go(); // happens before all api requests are done. darn.
        });
    };

    onMounted(() => {
      store.dispatch("fetchPlugins");
      store.dispatch("fetchAvailablePlugins");
    });

    // add plugin modal variables
    const pluginSelected = ref(null);
    const availablePlugins = ref([]);
    const addPluginModal = ref({ visible: false });

    // add plugin modal callbacks
    const handleAddPluginClick = () => {
      store.dispatch("fetchAvailablePlugins").then(() => {
        availablePlugins.value = store.state.data.available_plugins;
        pluginSelected.value = availablePlugins.value[0].name;
        addPluginModal.value.visible = true;
      });
    };

    const addPlugin = () => {
      store
        .dispatch("addPlugin", { plugin: pluginSelected.value })
        .then(() => (addPluginModal.value.visible = false));
    };

    return {
      plugins,
      pluginSelected,
      addPluginModal,
      addPlugin,
      availablePlugins,
      handleAddPluginClick,
      handleSyncPluginItemClicked,
    };
  },
};
</script>

<style lang="scss" scoped>
.plugin-settings-container {
  border: 1px solid black;
  width: 80%;
}
</style>
