<template>
  <div class="pl-2 is-full-height">
    <h2>MY GAMES</h2>
    <div
      class="is-flex is-flex-direction-column is-flex-wrap-wrap mt-2"
      style="width: 30%"
    >
      <div
        v-for="game in gameList"
        :key="game.name"
        class="
          button
          is-link is-light
          has-text-left
          pt-5
          pb-5
          mt-1
          is-flex is-flex-direction-row is-justify-content-space-between
        "
        @click="handleGameClicked($event, game.name)"
      >
        <div class="content">
          <p>
            <strong>{{ game.name }} </strong>&nbsp;
            <small>
              {{ new Date(game?.setup?.created_at).toDateString() }}</small
            >
          </p>
        </div>
        <button
          class="delete is-small is-pulled-right m-1"
          @click.stop="handleDeleteClicked($event, game.name)"
        ></button>
      </div>
    </div>

    <div
      class="is-flex is-flex-direction-column is-flex-wrap-wrap mt-4"
      style="width: 30%"
    >
      <button
        class="button is-light mb-1 has-text-left"
        @click="modalCreateNewGame.visible = true"
      >
        NEW GAME
      </button>
      <button class="button is-light mb-1 has-text-left">IMPORT GAME</button>
    </div>

    <Modal
      v-if="modalCreateNewGame.visible"
      :modal="modalCreateNewGame"
      @closeModal="modalCreateNewGame.visible = false"
    >
      <template v-slot:header>NEW GAME</template>
      <label for="gamename">What shall we call your new game?</label>
      <input
        class="input"
        type="text"
        name="gamename"
        placeholder="name"
        v-model="modalCreateNewGame.gameName"
      />
      <template v-slot:footer>
        <button class="button is-primary m-1" @click="handleNewGameClicked">
          NEW GAME
        </button>
        <button class="button m-1" @click="modalCreateNewGame.visible = false">
          CANCEL
        </button>
      </template>
    </Modal>

    <Modal
      v-if="deleteStateModal.visible"
      :modal="deleteStateModal"
      @closeModal="deleteStateModal.visible = false"
      :cssClasses="{
        message: true,
        'is-danger': true,
      }"
    >
      <template v-slot:header>DELETE GAME</template>
      Do you really want do delete this game?
      <template v-slot:footer>
        <button class="button is-danger m-1" @click="deleteState">
          DELETE
        </button>
        <button class="button m-1" @click="deleteStateModal.visible = false">
          CANCEL
        </button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { computed, ref, onMounted } from "@vue/runtime-core";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

import Modal from "@/components/Modal.vue";

export default {
  name: "AdaptorView",
  components: { Modal },
  setup() {
    const store = useStore();
    const gameList = computed(() => store.state.data.game_list);

    const modalCreateNewGame = ref({
      visible: false,
      gameName: null,
    });

    const router = useRouter();
    const handleGameClicked = (e, game) => {
      router.push({ path: "/game", query: { game: game } });
    };

    const handleNewGameClicked = () => {
      modalCreateNewGame.value.visible = true;
      store
        .dispatch("createGame", {
          name: modalCreateNewGame.value.gameName,
          template: "basic",
        })
        .then(() => {
          modalCreateNewGame.value.visible = false;
        });
    };

    const deleteStateModal = ref({
      visible: false,
      gameName: null,
    });

    const handleDeleteClicked = (e, name) => {
      console.log("deleting game", name);
      deleteStateModal.value.gameName = name;
      deleteStateModal.value.visible = true; // show modal
    };

    const deleteState = () => {
      console.log(
        "adaptorview sends delete action",
        deleteStateModal.value.gameName
      );
      store
        .dispatch("deleteGame", { name: deleteStateModal.value.gameName })
        .then(() => {
          deleteStateModal.value.visible = false;
        });
    };

    onMounted(() => store.dispatch("fetchGameList"));
    return {
      gameList,
      handleGameClicked,
      handleNewGameClicked,
      modalCreateNewGame,
      handleDeleteClicked,
      deleteStateModal,
      deleteState,
    };
  },
};
</script>

<style scoped>
.button.has-text-left {
  justify-content: left;
}
</style>
