<template>
  <div class="is-flex is-flex-direction-column">
    <div class="is-flex-grow-1 columns is-marginless" style="height: 88%">
      <Toolbar
        v-if="isLive === false"
        class="column is-narrow has-background-light is-over-line is-fullheight"
      />
      <Stage
        v-if="level"
        class="column has-background-info"
        :updateLines="updateLines"
      />
      <LiveBar @switched="handleLiveSwitch" />
    </div>
  </div>
</template>

<script>
import Stage from "@/components/Stage/Stage.vue";
import Toolbar from "@/components/Toolbar/Toolbar.vue";
import LiveBar from "@/components/Live/LiveBar.vue";

import { watch, computed, onMounted, ref } from "@vue/runtime-core";
import { useStore } from "vuex";

import { useRoute, useRouter } from "vue-router";

export default {
  components: {
    Stage,
    Toolbar,
    LiveBar,
  },
  name: "EditorView",
  setup() {
    const store = useStore();
    const route = useRoute();
    const router = useRouter();
    const level = computed(() => store.state.data.level);
    const isLive = computed(() => store.state.selected.is_live);
    const updateLines = ref(null);

    const init = () => {
      if (!route.query.game) {
        router.push({
          path: "/",
        });
      } else if (!route.query.level) {
        router.push({
          path: "/game",
          query: { game: route.query.game },
        });
      } else {
        store.dispatch("selectLevel", {
          gameId: route.query.game,
          levelId: route.query.level,
        });
      }
    };

    const handleLiveSwitch = () => {
      console.log("liveness changed");
      updateLines.value = new Date().getTime();
    };

    onMounted(() => {
      store.dispatch("fetchSessions", { game: route.query.game });
      console.log(store.state.data.sessions);
    });
    // Note: necessary to reload editor on dynamic query params change from router
    watch(
      () => route.query,
      () => init()
    );
    init();
    return {
      level,
      isLive,
      updateLines,
      handleLiveSwitch,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";
</style>
