<template>
  <div class="gameSettingsContainer pl-2 is-full-height">
    <h1>
      Game Settings <b v-if="game">{{ game.name }}</b>
    </h1>
    <br />

    <div v-if="game" class="tabs">
      <ul>
        <li class="tab-link is-active" @click="openTab($event, 'tab_plugins')">
          <a>PLUGINS</a>
        </li>
        <li class="tab-link" @click="openTab($event, 'tab_collections')">
          <a>COLLECTIONS</a>
        </li>
        <li class="tab-link" @click="openTab($event, 'tab_setup')">
          <a>SETUP</a>
        </li>
      </ul>
    </div>
    <div v-if="game" class="tab-container scrollVertical">
      <div id="tab_plugins" class="tab-content">
        <PluginSettings />
      </div>
      <div id="tab_collections" class="tab-content is-hidden">
        <div v-for="collection in game.collections" :key="collection">
          {{ collection }}
        </div>
      </div>
      <div id="tab_setup" class="tab-content is-hidden">
        <div>{{ game.setup }}</div>
      </div>
    </div>
    <Prompt />
  </div>
</template>

<script>
import { computed } from "@vue/runtime-core";
import { useStore } from "vuex";
import { useRouter, useRoute } from "vue-router";

import PluginSettings from "@/components/Game/PluginSettings.vue";
import Prompt from "@/components/Prompt.vue";

export default {
  name: "GameSettings",
  components: { PluginSettings, Prompt },
  setup() {
    const store = useStore();
    const router = useRouter();
    const route = useRoute();

    const game = computed(() => store.state.data.game);
    const gameSelected = route.query.game;

    if (!gameSelected) {
      router.push({
        path: "/",
      });
    } else {
      store.dispatch("selectGame", route.query.game);
    }

    const openTab = (e, tabName) => {
      // hide everything
      const links = document.getElementsByClassName("tab-link");
      const tabs = document.getElementsByClassName("tab-content");
      Array.from(links).forEach((node) => node.classList.remove("is-active"));
      Array.from(tabs).forEach((node) => node.classList.add("is-hidden"));
      // show selection
      document.getElementById(tabName).classList.remove("is-hidden");
      e.currentTarget.classList.add("is-active");
    };
    return { openTab, game };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.scrollVertical {
  overflow-y: auto;
  height: 88%;
}

.gameSettingsContainer {
  background-color: $purple-5;
}
</style>
