<template>
  <div class="pl-2 is-full-height">
    <h1>This is the Game Editor/Overview</h1>
    <br />
    <div v-if="levelList">
      <h2>
        All levels of <b>{{ gameSelected }}</b>
      </h2>
      <div style="margin-left: 15%">
        <div
          class="
            levellist
            is-flex is-flex-direction-row is-flex-wrap-nowrap
            mt-2
          "
        >
          <div class="box has-background-dark has-text-white m-2">
            Level Name
          </div>
          <div class="box has-background-dark has-text-white m-2">
            Description
          </div>
          <div class="box has-background-dark has-text-white m-2">
            Arguments
          </div>
          <div class="box has-background-dark has-text-white m-2">
            created by + time
          </div>
          <div class="box has-background-dark has-text-white m-2">
            modified by + time
          </div>
        </div>

        <div
          v-for="level in levelList"
          :key="level.name"
          class="
            levelist
            is-flex is-flex-direction-row is-flex-wrap-nowrap
            mt-2
          "
          @click="handleLevelClicked($event, level.name)"
        >
          <div class="button has-background-light m-2">
            {{ level.name }}
          </div>
          <div class="button has-background-light m-2">
            {{ level.description }}
          </div>
          <div class="button has-background-light m-2">
            {{ level.arguments }}
          </div>
          <div class="button has-background-light m-2">
            {{ level.created_by }} <br />{{
              new Date(level.created_at)
                .toDateString()
                .replace("Invalid Date", "")
            }}
          </div>
          <div class="button has-background-light m-2">
            {{ level.modified_by }}<br />
            {{
              new Date(level.modified_at)
                .toDateString()
                .replace("Invalid Date", "")
            }}
          </div>

          <button
            class="delete is-pulled-right m-4"
            @click.stop="handleDeleteClicked($event, level.name)"
          ></button>
        </div>
      </div>
      <button
        style="margin-left: 15%"
        class="button is-dark mr-2 mt-4"
        @click="createNewModalisActive = true"
      >
        Add new
      </button>

      <div
        :class="{ modal: true, 'is-active': createNewModalisActive }"
        style="top: 20px"
      >
        <div
          class="modal-background"
          @click="createNewModalisActive = false"
        ></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add New Level</p>
            <button
              class="delete"
              aria-label="close"
              @click="createNewModalisActive = false"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="levelname">name</label>
            <input
              class="input"
              type="text"
              name="levelname"
              placeholder="name"
              v-model="levelname"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-success"
              @click="handleNewLevelClicked($event, levelname)"
            >
              ADD Level
            </button>
            <button class="button" @click="createNewModalisActive = false">
              Cancel
            </button>
          </footer>
        </div>
      </div>
    </div>

    <Modal
      v-if="deleteLevelModal.visible"
      :modal="deleteLevelModal"
      @closeModal="deleteLevelModal.visible = false"
      :cssClasses="{
        message: true,
        'is-danger': true,
      }"
    >
      <template v-slot:header>DELETE LEVEL</template>
      Do you really want do delete level
      <b>{{ deleteLevelModal.levelName }}</b> ?
      <template v-slot:footer>
        <button class="button is-danger m-1" @click="deleteLevel">
          DELETE
        </button>
        <button class="button m-1" @click="deleteLevelModal.visible = false">
          CANCEL
        </button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { computed, ref } from "@vue/runtime-core";
import { useStore } from "vuex";
import { useRouter, useRoute } from "vue-router";

import Modal from "@/components/Modal.vue";

export default {
  name: "GameView",
  components: { Modal },
  setup() {
    const store = useStore();

    const levelList = computed(() => store.state.data.game?.level);

    const levelname = ref(null);

    const router = useRouter();
    const route = useRoute();

    const gameSelected = route.query.game;

    if (!gameSelected) {
      router.push({
        path: "/",
      });
    } else {
      store.dispatch("selectGame", route.query.game);
    }

    const createNewModalisActive = ref(false);

    const handleNewLevelClicked = (e, level) => {
      store.dispatch("addLevel", { game: gameSelected, name: level });
      createNewModalisActive.value = false;
    };

    const handleLevelClicked = (e, level) => {
      router.push({
        path: "/editor",
        query: { game: gameSelected, level: level },
      });
    };

    const handleDeleteClicked = (e, level) => {
      deleteLevelModal.value.levelName = level;
      deleteLevelModal.value.visible = true;
    };

    const deleteLevel = () => {
      console.log(
        "gameview sending deleteLevel Action",
        gameSelected,
        deleteLevelModal.value.levelName
      );
      store
        .dispatch("deleteLevel", {
          game: gameSelected,
          level: deleteLevelModal.value.levelName,
        })
        .then(() => {
          deleteLevelModal.value.visible = false;
        });
    };

    const deleteLevelModal = ref({
      visible: false,
      levelName: null,
    });

    return {
      gameSelected,
      levelList,
      handleLevelClicked,
      createNewModalisActive,
      handleNewLevelClicked,
      handleDeleteClicked,
      levelname,
      deleteLevelModal,
      deleteLevel,
    };
  },
};
</script>

<style scoped>
.button.has-text-left {
  justify-content: left;
}

.box,
.button {
  width: 15%;
}
</style>
