<template>
  <footer class="footer is-paddingless">
    <div class="has-text-centered">
      <p>
        <strong>Adaptor eX</strong> by
        <a href="https://jgthms.com">machina eX</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and can
        be found at
        <a href="https://gitlab.com/machina_ex/plaitools/plaiframe">Gitlab</a>.
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>
