<template>
  <div ref="container"></div>
</template>

<script>
import { onMounted, onUnmounted, ref } from "@vue/runtime-core";

import { JSONEditor } from "@json-editor/json-editor";
import { AdaptorTheme } from "@/styles/json-editor/adaptorTheme.js";

import { cloneDeep } from "lodash";

export default {
  name: "JsonEditor",
  props: ["data", "schema", "options"],
  emits: ["dataChanged", "dataValidated"],
  setup(props, { emit }) {
    const container = ref(null);
    let editor;
    const options = {
      schema: prepareSchema(props.schema),
      startval: props.data,
      disable_collapse: true,
      object_layout: "table",
      show_errors: "always",
      theme: "adaptor",
      disable_array_reorder: true,
    };

    JSONEditor.defaults.theme = "adaptor";
    JSONEditor.defaults.themes.adaptor = AdaptorTheme;

    const handleChange = (data) => emit("dataChanged", data);

    let externalChangeFlag = false;
    /*
    watch(
      () => props.data,
      (data) => {
        console.log("Watch props.data ", data);
        // externalChangeFlag = true; FIXME: temporary
        editor.setValue(data);
      }
    );
*/
    onMounted(() => {
      editor = new JSONEditor(container.value, options);
      editor.on("ready", () => {
        // TODO get rid of this hack to show second tab ;)
        editor.element.querySelector(".je-tabholder--top").children[1]?.click();
      });
      editor.on("change", () => {
        const errors = editor.validate();
        if (errors.length) emit("dataValidation", { valid: false, errors });
        if (externalChangeFlag) externalChangeFlag = false;
        else handleChange(Object.assign({}, props.data, editor.getValue()));
      });
    });

    onUnmounted(() => editor.destroy());

    return { container };
  },
};

// Note: change action schema to align with json-edior style
function prepareSchema(schema) {
  let transformed;
  if (!Object.prototype.hasOwnProperty.call(schema, "format")) {
    transformed = cloneDeep(schema);
    transformed["format"] = "categories";
    transformed["basicCategoryTitle"] = "Info";
  }
  return transformed || schema;
}
</script>
