<template>
  <div :class="{ modal: true, 'is-active': modal.visible }">
    <div class="modal-background" @click="$emit('closeModal')"></div>
    <div class="modal-content">
      <article
        :class="
          cssClasses || {
            message: true,
            'is-info': true,
          }
        "
      >
        <div class="message-header">
          <p>
            <slot name="header"></slot>
          </p>
          <button
            class="delete"
            aria-label="delete"
            @click="$emit('closeModal')"
          ></button>
        </div>
        <div class="message-body">
          <slot></slot>
        </div>
        <footer class="modal-card-foot">
          <slot name="footer"> </slot>
        </footer>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: { modal: Object, cssClasses: Object },
  emits: ["closeModal"],
  setup() {
    return {};
  },
};
</script>
