<template>
  <div>
    <nav
      class="navbar"
      role="navigation"
      aria-label="main navigation"
      style="background-color: #d2c7f9"
    >
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- ADAPTOR ICON AND DROPDOWN -->
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              <svg
                width="20"
                height="23"
                viewBox="0 0 20 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.2435 2.67958L19.165 2.30792L18.8773 2.08227C16.2744 0.0248628 11.2387 -0.200788 7.58952 0.117778C7.05325 0.170872 6.55622 0.250514 6.11151 0.369976C3.90105 0.967288 1.55978 2.0159 0.775004 4.48479C0.0948602 6.67494 -0.0228569 9.63495 0.00330242 11.772C0.0163821 13.2852 -0.140574 18.0371 0.91888 19.9485C1.97833 21.8599 2.92007 22.4174 3.88797 22.6563C5.78452 23.1342 9.34219 23.0546 12.4421 22.7758C12.5598 22.7625 12.6775 22.7493 12.7952 22.736L12.9914 22.7094C14.2078 22.5767 15.5943 22.4307 16.8107 21.7405C17.8832 21.1299 19.3351 18.1301 19.152 16.8956L17.3862 14.9975L15.0449 17.6124L13.3838 15.701L12.6644 14.878L11.8927 15.6479L9.66919 17.8911L6.88321 15.7143L6.85706 12.4622L9.61687 14.7055L11.8404 11.5198L14.1032 14.0816L16.4575 11.3074L19.3482 13.6436L19.7144 12.0507C20.4076 9.07746 19.6751 4.75026 19.2435 2.67958ZM7.48488 3.91403C7.4064 4.31223 6.96169 4.73699 6.51698 4.6839C6.07227 4.6308 5.71912 4.55116 5.7322 4.03349C5.75836 3.15743 6.68702 2.73268 6.93553 2.86541C7.32792 3.07779 7.57644 3.51582 7.48488 3.91403ZM9.17216 3.63528C8.68821 3.59546 8.72745 2.91851 8.79285 2.79904C9.05444 2.36102 9.43375 2.63976 9.64303 2.86541C9.89154 3.13088 9.57763 3.66183 9.17216 3.63528Z"
                  fill="#796ae5"
                />
              </svg>
            </a>
            <div class="navbar-dropdown">
              <router-link to="/" class="navbar-item" v-on:click="blur">
                back to all games
              </router-link>
              <a class="navbar-item"> <del>adaptor settings</del> </a>
              <a class="navbar-item"> <del>about</del> </a>
              <a class="navbar-item"> <del>help</del> </a>
            </div>
          </div>
          <!-- GAME DROPDOWN -->
          <div
            v-if="this.$route.query.game"
            class="navbar-item has-dropdown is-hoverable"
          >
            <a class="navbar-link is-arrowless">GAME</a>
            <div class="navbar-dropdown">
              <router-link to="/game" class="navbar-item" v-on:click="blur">
                OVERVIEW
              </router-link>
              <router-link to="/settings" class="navbar-item" v-on:click="blur">
                SETTINGS
              </router-link>
              <a class="navbar-item"> <del>export game</del> </a>
            </div>
          </div>
          <!-- LEVEL DROPDOWN -->
          <div
            v-if="this.$route.query.level"
            class="navbar-item has-dropdown is-hoverable"
          >
            <a class="navbar-link is-arrowless">LEVEL</a>
            <div class="navbar-dropdown">
              <router-link to="/editor" class="navbar-item" v-on:click="blur">
                edit &nbsp; <i>{{ this.$route.query.level }}</i>
              </router-link>
              <a class="navbar-item"> <del>level config</del> </a>
              <a class="navbar-item"> <del>save level</del> </a>
              <a class="navbar-item"> <del>export level</del> </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <router-link to="/game" class="navbar-item" v-on:click="blur">
            {{ this.$route.query.game }}
          </router-link>
          <div
            v-if="this.$route.query.level"
            class="navbar-item has-dropdown is-hoverable"
          >
            <a class="navbar-link">
              {{ this.$route.query.level }}
            </a>
            <div class="navbar-dropdown is-right">
              <router-link
                :to="{
                  path: '/editor',
                  query: { game: this.$route.query.game, level: level.name },
                }"
                class="navbar-item"
                v-on:click="blur"
                v-for="level in levelList"
                :key="level.name"
              >
                {{ level.name }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "@vue/runtime-core";

export default {
  name: "Navbar",
  setup() {
    const store = useStore();
    const levelList = computed(() => store.state.data.game?.level);

    const blur = (event) => event.target.blur();
    return { blur, levelList };
  },
};
</script>
