<template>
  <div class="action is-unselectable">
    <div v-if="stateSelected">
      <Icon
        class="is-pulled-right ml-1"
        @click="handleDeleteClick"
        :icon="['far', 'trash-alt']"
      />
    </div>
    <div v-else>
      <span class="icon is-is-small has-text-black is-pulled-right ml-1"></span>
    </div>

    <ActionEditor
      v-if="selected"
      :stateId="stateId"
      @selectAction="$emit('selectAction')"
      @validateAction="(result) => (isValid = result)"
    />
    <div v-else>
      <div @click.stop="$emit('selectAction')">
        <span>{{ action.name || action.action }}</span>
        <Icon :icon="['fa', 'chevron-right']" />
        <Icon v-if="!isValid" class="has-text-danger" :icon="['fa', 'bug']" />
      </div>
      <div v-for="next of allNextsOfAction" :key="next">
        <Line :from="stateName" :next="next[1]" />
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed, ref } from "vue";
import ActionEditor from "@/components/Stage/ActionEditor.vue";

import Line from "./Line.vue";

export default {
  name: "ActionNode",
  props: {
    actionId: {
      type: String,
      required: true,
    },
    stateName: {
      type: String,
      required: true,
    },
    stateId: {
      type: String,
      required: true,
    },
  },
  components: {
    ActionEditor,
    Line,
  },
  emits: ["selectAction"],
  setup(props) {
    const store = useStore();

    const action = computed(
      () => store.state.data.level.actions[props.actionId] || {}
    );
    const payload = computed(() => action.value.payload);
    const selected = computed(
      () => store.state.selected.action == props.actionId
    );
    const stateSelected = computed(
      () => store.state.selected.state == props.stateId
    );

    const allNextsOfAction = computed(() => {
      let flat = flattenObject(payload.value);
      let allkeys = Object.entries(flat);
      let output = allkeys.filter((entry) => {
        if (entry[0].includes("next")) return true;
        return false;
      });
      return Object.values(output);
    });

    const handleDeleteClick = () => {
      store.dispatch("deleteAction", {
        actionId: props.actionId,
        stateId: props.stateId,
      });
    };

    const isValid = ref(true);

    return {
      action,
      isValid,
      selected,
      stateSelected,
      allNextsOfAction,
      handleDeleteClick,
    };
  },
};

// ALTERNATIVE: replace with flat npm packages flat()
function flattenObject(obj) {
  let output = {};
  for (let i in obj) {
    if (!Object.prototype.hasOwnProperty.call(obj, i)) continue;

    if (typeof obj[i] == "object" && obj[i] !== null) {
      var flatObject = flattenObject(obj[i]);
      for (var x in flatObject) {
        if (!Object.prototype.hasOwnProperty.call(flatObject, x)) continue;

        output[i + "." + x] = flatObject[x];
      }
    } else {
      output[i] = obj[i];
    }
  }
  return output;
}
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";
.action {
  word-break: break-all;
  color: black;
  border: 1.5px solid black;
  /*background-color: $blue-2;*/
  margin: 5px;
  padding-left: 0.5rem;
  overflow: visible;
}

.isActionTypeListen {
  background-color: $orange-5;
}

.isActionTypeRun {
  background-color: $blue-5;
}
</style>
