<template>
  <div>
    <div v-if="data">
      <div>
        <div @click.stop="$emit('selectAction')">
          {{ data.action }}
          <Icon :icon="['fa', 'chevron-down']" />
        </div>
        <component
          v-if="getFormRenderer"
          :is="getFormRenderer"
          :id="id"
          :data="data"
          @dataChanged="updateAction"
          @dataValidation="onDataValidation"
        ></component>
        <FormDefault
          v-else
          :data="data"
          :id="id"
          :schema="schema"
          @dataChanged="updateAction"
          @dataValidation="onDataValidation"
        />
      </div>
      <button
        @click.stop="$emit('selectAction')"
        class="button is-pulled-right m-1"
      >
        Fertig
      </button>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed, resolveDynamicComponent } from "vue";

//import telegram_dialog from "@/components/Forms/telegram_dialog.vue";
import FormDefault from "@/components/Forms/form_default.vue";

export default {
  name: "ActionEditor",
  emits: ["selectAction", "validateAction"],
  props: {
    stateId: {
      type: String,
      required: true,
    },
  },
  components: {
    //telegram_dialog,
    FormDefault,
  },
  setup(props, { emit }) {
    const componentExists = (name) => {
      return typeof resolveDynamicComponent(name) !== "string";
    };
    const store = useStore();
    const id = computed(() => store.state.selected.action);
    const data = computed(() =>
      store.getters.actionByIdResolved(store.state.selected.action)
    );
    const schema = computed(() => store.getters.selectedActionSchema);
    const getFormRenderer = computed(() => {
      let componentName = data.value.plugin + "_" + data.value.action;
      return componentExists(componentName) ? componentName : null;
    });
    const updateAction = (e) => {
      // console.log("update Action triggered by ActionEditor", e);
      store.dispatch("updateAction", {
        value: e,
        actionId: id.value,
        stateId: props.stateId,
      });
    };
    const onDataValidation = (value) => {
      // console.log("ActionEditor data validation:", value.errors);
      emit("validateAction", value.valid);
    };
    return {
      id,
      data,
      schema,
      updateAction,
      getFormRenderer,
      onDataValidation,
    };
  },
};
</script>
