<template>
  <div
    ref="nodeElement"
    v-if="stateId"
    :id="state.name"
    :key="state"
    :class="['state', dragOver ? 'drag-over' : '']"
    :stateid="stateId"
    @click.stop="handleSelectState"
    @drop.prevent="handleDrop"
    @dragover.prevent
    @dragenter="handleDragEvents($event, true)"
    @dragend="handleDragEvents($event, false)"
    @dragleave="handleDragEvents($event, false)"
  >
    <h4
      :class="[
        'handle',
        selected ? 'is-selected' : '',
        'is-unselectable',
        'is-grabbable',
      ]"
      ref="handle"
    >
      <input
        class="statename"
        type="text"
        :value="state.name"
        @change="handleStateNameChange"
        :disabled="state.name == 'START' || state.name == 'QUIT'"
      />

      <Icon
        v-if="selected && state.name != 'START' && state.name != 'QUIT'"
        class="is-pulled-right"
        @click="handleDeleteClick"
        :icon="['far', 'trash-alt']"
      />
    </h4>
    <hr class="handleEndLine" />

    <ActionNode
      v-for="actionId in state.run"
      :class="{ isActionTypeRun: true }"
      :key="actionId"
      :actionId="actionId"
      :stateName="state.name"
      :stateId="stateId"
      @selectAction="handleSelectAction(actionId)"
    />
    <hr />
    <ActionNode
      v-for="actionId in state.listen"
      :class="{ isActionTypeListen: true }"
      :key="actionId"
      :actionId="actionId"
      :stateName="state.name"
      :stateId="stateId"
      @selectAction="handleSelectAction(actionId)"
    />
  </div>
</template>

<script>
import { useStore } from "vuex";
import { watch, ref, computed } from "vue";

import ActionNode from "./ActionNode.vue";

export default {
  name: "StateNode",
  props: {
    stateId: {
      type: String,
      required: true,
    },
  },
  setup(props, { emit }) {
    const store = useStore();
    const state = computed(() => store.state.data.level.states[props.stateId]);
    const selected = computed(
      () => store.state.selected.state == props.stateId
    );
    const handle = ref(null);
    const dragOver = ref(false);

    const handleDeleteClick = () => {
      store.dispatch("deleteState", props.stateId);
    };

    const handleDrop = (e) => {
      if (e.target.id != state.value.name) return;
      dragOver.value = false;
      const action = e.dataTransfer.getData("action");
      // console.log(action);
      store.dispatch("addActionToState", {
        stateId: props.stateId,
        actionName: action,
      });
    };
    const handleDragEvents = (e, isOver) => {
      if (e.target.id != state.value.name) return;
      dragOver.value = isOver;
    };
    const handleSelectAction = (actionId) => {
      store
        .dispatch("toggleSelectAction", {
          actionId,
          stateId: props.stateId,
        })
        .then(() => {
          emit("stateUpdated", { status: state.value, stateId: props.stateId });
        });
    };
    const handleSelectState = () =>
      store.dispatch("selectState", props.stateId);

    const handleStateNameChange = (e) => {
      console.log("stateName change", e, e.target.value);
      store
        .dispatch("updateState", {
          key: props.stateId,
          value: {
            name: e.target.value,
          },
        })
        .then(() => {
          store.dispatch("syncState", { stateId: props.stateId });
          emit("stateUpdated", { status: state.value, stateId: props.stateId });
        });
    };

    watch(state.value, () => {
      // TODO: Check if this is still needed
      // emit("stateUpdated", { status: state.value, stateId: props.stateId });
    });

    return {
      dragOver,
      state,
      selected,
      handle,
      handleSelectAction,
      handleSelectState,
      handleDrop,
      handleDragEvents,
      handleDeleteClick,
      handleStateNameChange,
    };
  },
  components: {
    ActionNode,
  },
  emits: ["dragEvent", "stateUpdated", "actionUpdated", "nodeDeleted"],
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

#START {
  background-color: $green-5;
}

#QUIT {
  background-color: $purple-5;
}

.state {
  position: absolute;
  min-width: 300px;
  min-height: 2vh;
  overflow: visible;
  word-break: break-all;
  color: white;
  background-color: white;
  border: 2.5px solid $blue-1;
  border-radius: 10px;
}

.statename {
  font-weight: bold;
  margin-left: 5px;
  width: 60%;
  border-color: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
}

.drag-over {
  background-color: $blue-3 !important;
}

.handle {
  background-color: white;
  border-radius: 9px 9px 0px 0px;
  padding: 3px;
}

.is-selected {
  background-color: rgb(236, 235, 235);
}

.handle:hover {
  background-color: rgb(236, 235, 235);
}

hr {
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr.handleEndLine {
  margin-top: 0px;
  border-top: 2px solid $blue-1;
}
</style>
