.je-form-input-label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}
.je-header {
  display: none !important;
}
.je-indented-panel {
  padding: 5px;
  margin: 0;
  margin-top: 5px;
  margin-left: 0px !important;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.adaptor-modal {
  background-color: white;
  border: 1px solid #008cb2;
  color: black;
  box-shadow: rgba(206, 206, 206, 0.404) 3px 3px;
  position: absolute;
  z-index: 10;
}

.je-object__controls {
  margin: 0px !important;
}

/*Array Stylings >>>*/
.isActionTypeListen [data-schematype="array"] {
  background-color: #f9c48b;
}

.isActionTypeListen
  [data-schematype="array"]
  > .je-indented-panel
  > div
  > .je-indented-panel:nth-of-type(even) {
  background-color: #f2af6b;
}
.isActionTypeListen
  [data-schematype="array"]
  > .je-indented-panel
  > div
  > .je-indented-panel:nth-of-type(odd) {
  background-color: #e5842c;
}

.isActionTypeRun
  [data-schematype="array"]
  > .je-indented-panel
  > div
  > .je-indented-panel:nth-of-type(even) {
  background-color: #63bad4;
}
.isActionTypeRun
  [data-schematype="array"]
  > .je-indented-panel
  > div
  > .je-indented-panel:nth-of-type(odd) {
  background-color: #008cb2;
}

/*Array Stylings <<<*/

.je-child-editor-holder {
  margin-bottom: 8px;
}
.je-header-button-holder {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8em;
  vertical-align: middle;
}
.je-table {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
/* Upload Editor preview image */
.je-upload-preview img {
  float: left;
  margin: 0 0.5rem 0.5rem 0;
  max-width: 100%;
  max-height: 5rem;
}
.je-dropzone {
  position: relative;
  margin: 0.5rem 0;
  border: 2px dashed black;
  width: 100%;
  height: 60px;
  background: teal;
  transition: all 0.5s;
}
.je-dropzone:before {
  position: absolute;
  content: attr(data-text);
  color: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.je-dropzone.valid-dropzone {
  background: green;
}
.je-dropzone.invalid-dropzone {
  background: red;
}
