<template>
  <div id="main-container" class="is-flex is-flex-direction-column is-full-vh">
    <Navbar class="navbar-fixed-z" />
    <router-view class="is-flex-grow-1 is-routerview-high" />
    <Footer class="is-over-line is-footer-high" />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";

export default {
  components: {
    Navbar,
    Footer,
  },
  mounted() {},
};
</script>
