<template>
  <div :class="{ 'live-bar': true, 'is-live': isLive }">
    <div v-for="session in sessions" :key="session.name">
      <div class="session">
        <b>{{ session.name }}</b>
        <Icon
          class="is-pulled-right ml-1 mr-1"
          @click.stop="handleDeleteSessionClick($event, session._id)"
          :icon="['far', 'trash-alt']"
        />
      </div>
    </div>
    <button
      class="launch-session-button button is-small m-1"
      @click.stop="handleAddSessionButtonClicked"
    >
      +
    </button>
  </div>
  <div class="play-button" @click="handlePlayButtonClicked">
    <Icon v-if="!isLive" :icon="['fa', 'play-circle']" class="m-1" />
    <Icon v-else :icon="['fa', 'eject']" class="m-1" />
  </div>
  <SessionControl
    v-if="isLive && sessionControlVisible"
    @close="sessionControlVisible = false"
    class="session-control"
    :position="sessionControlPosition"
  />
</template>

<script>
import { computed, onMounted, ref } from "@vue/runtime-core";
import { useStore } from "vuex";

import { useRoute } from "vue-router";
import SessionControl from "./SessionControl.vue";

export default {
  components: { SessionControl },
  name: "LiveBar",
  emits: ["switched"],
  setup(props, { emit }) {
    const store = useStore();
    const route = useRoute();
    const level = computed(() => store.state.data.level);
    const sessions = computed(() => store.state.data.sessions);
    const isLive = computed(() => store.state.selected.is_live);
    const sessionControlPosition = ref({ marginLeft: "10%" });
    const sessionControlVisible = ref(false);

    const handlePlayButtonClicked = () => {
      if (!isLive.value) {
        console.log("entering live mode");
        store.dispatch("fetchSessions", {
          game: route.query.game,
          level: route.query.level,
        });
        store.commit("setSelected", { key: "is_live", value: true });
      } else {
        store.commit("setSelected", { key: "is_live", value: false });
      }
      emit("switched");
    };

    const handleAddSessionButtonClicked = (e) => {
      sessionControlPosition.value.marginLeft =
        "" + e.target.getBoundingClientRect().x + "px";
      console.log(sessionControlPosition.value);
      if (!sessionControlVisible.value) sessionControlVisible.value = true;
      else sessionControlVisible.value = false;
    };

    const handleDeleteSessionClick = (e, session) => {
      console.log("deleting session", session);
      store.dispatch("cancelSession", { game: route.query.game, session });
    };
    onMounted(() => {
      store.dispatch("fetchSessions", { game: route.query.game });
      console.log(store.state.data.sessions);
    });

    return {
      level,
      sessions,
      isLive,
      sessionControlPosition,
      sessionControlVisible,
      handleDeleteSessionClick,
      handlePlayButtonClicked,
      handleAddSessionButtonClicked,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.session-control {
  margin-top: 2.2em;
  z-index: 90000;
}

.play-button {
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 999999;
}
.play-button:hover {
  opacity: 0.7;
}

.live-bar {
  position: fixed;
  top: 40px;
  left: 0vh;
  height: 2.2em;
  width: 100%;
  display: none;
  padding: 5px;
}

.live-bar.is-live {
  background-color: $pink-2;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.session {
  border: 1px solid black;
  padding: 2px;
}

.session:hover {
  background-color: $pink-4;
}

.session:active {
  background-color: $purple-4;
}

.icon:hover {
  background-color: $purple-5;
}

.launch-session-button {
  background-color: $pink-2;
  border: 1px solid black;
  font-weight: 800;
  font-size: 2em;
}

.launch-session-button:hover {
  background-color: $pink-4;
}
</style>
