<template>
  <div class="container" :style="position">
    <form class="box has-background-pink-2">
      <span class="is-pulled-right" @click.stop.prevent="$emit('close')"
        >x</span
      >
      <div class="field">
        <label class="label">SESSION NAME</label>
        <div class="control">
          <input class="input" placeholder="roaaar!" v-model="sessionName" />
        </div>
      </div>
      <div class="field has-background-light p-3">
        <div
          v-for="(value, argument) in newSessionArguments"
          :key="'arg' + argument"
        >
          <div class="field">
            <label class="label">
              {{ argument }} ({{ value.collection }})
            </label>
            <div class="control">
              <input
                class="input has-background-dark has-text-light"
                placeholder="database query"
                :value="value.query"
                @change="handleArgumentsChange($event, argument)"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        class="button is-dark"
        @click.stop.prevent="handleLaunchButtonClicked"
      >
        START SESSION
      </button>
    </form>
  </div>
</template>

<script>
import { ref } from "@vue/runtime-core";
import { useStore } from "vuex";
import { useRoute } from "vue-router";

export default {
  components: {},
  props: { position: Object },
  name: "SessionControl",
  emits: ["close"],
  setup(props, { emit }) {
    const store = useStore();
    const route = useRoute();
    const sessionName = ref("");
    const newSessionArguments = ref(
      JSON.parse(JSON.stringify(store.state.data.level.config.arguments)) // TODO: get rid of JSON.
    );

    const handleArgumentsChange = (e, key) => {
      console.log(e.target.value);
      console.log(newSessionArguments.value[key]);
      newSessionArguments.value[key]["query"] = e.target.value;
    };

    const handleLaunchButtonClicked = () => {
      console.log("launching session  ", {
        game: route.query.game,
        level: route.query.level,
        session: sessionName.value || route.query.level + "_quicksession",
        args: newSessionArguments.value,
      });

      store
        .dispatch("launchSession", {
          game: route.query.game,
          level: route.query.level,
          session: sessionName.value || route.query.level + "_quicksession",
          args: newSessionArguments.value,
        })
        .then(async () => {
          await store.dispatch("fetchSessions", { game: route.query.game });
          emit("close");
        });
    };
    return {
      handleLaunchButtonClicked,
      handleArgumentsChange,
      sessionName,
      newSessionArguments,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.container {
  position: absolute;
  max-height: 50%;
}

.container .box {
  border: black 1px solid;
}
</style>
