<template>
  <div>
    <div v-if="schema" ref="container"></div>
    <div v-else>
      <textarea
        cols="25"
        rows="25"
        @change="handleChange(JSON.parse($event.target.value))"
        :value="JSON.stringify(data, null, 2)"
      >
      </textarea>
    </div>
    <!-- <button>Speichern</button> -->
  </div>
</template>

<script>
import { onMounted, onUnmounted, ref } from "@vue/runtime-core";
import { useStore } from "vuex";

import { cloneDeep } from "lodash";
import { JSONEditor } from "@json-editor/json-editor";
import { AdaptorTheme } from "@/styles/json-editor/adaptorTheme.js";

export default {
  name: "FormDefault",
  props: ["data", "schema"],
  emits: ["dataChanged", "dataValidation"],
  setup(props, { emit }) {
    const store = useStore();
    const container = ref(null);
    let editor;
    const options = {
      schema: prepareSchema(props.schema),
      startval: props.data || {}, // TODO maybe BUG: watch prop and rerender!?
      disable_collapse: true,
      show_errors: "always",
      theme: "adaptor",
      disable_array_reorder: true,
    };

    JSONEditor.defaults.theme = "adaptor";
    JSONEditor.defaults.themes.adaptor = AdaptorTheme;

    // https://phd.dmstr.io/en/docs/guide/tutorials/json-editor-customizations.md
    JSONEditor.defaults.editors.next = class Next extends (
      JSONEditor.defaults.editors.string
    ) {
      postBuild() {
        super.postBuild();
        this.label.innerText = "next state";
        const dataList = document.createElement("datalist");
        store.getters.statesNameList.forEach((state) => {
          const option = document.createElement("option");
          option.value = state;
          dataList.appendChild(option);
        });
        dataList.setAttribute("id", "dlStates");
        this.container.appendChild(dataList);
        this.input.setAttribute("list", "dlStates");
        this.input.setAttribute("autocomplete", "off");
      }
    };

    JSONEditor.defaults.resolvers.unshift(
      (schema) =>
        schema.type === "string" && schema.format === "adaptorState" && "next"
    );

    const handleChange = (data) => emit("dataChanged", data);

    onMounted(() => {
      editor = new JSONEditor(container.value, options);
      editor.on("ready", () =>
        // TODO get rid of this hack to show second tab ;)
        editor.element.querySelector(".je-tabholder--top").children[1]?.click()
      );
      editor.on("change", () => {
        const errors = editor.validate();
        emit("dataValidation", {
          valid: errors.length > 0 ? false : true,
          errors,
        });

        // TODO: dialog with error message + highlight action as with error
        handleChange(Object.assign({}, props.data, editor.getValue()));
      });
    });

    onUnmounted(() => editor.destroy());

    return { container, handleChange };
  },
};

// Note: change action schema to align with json-edior style
function prepareSchema(schema) {
  let transformed;
  if (!Object.prototype.hasOwnProperty.call(schema, "format")) {
    transformed = cloneDeep(schema);
    transformed["format"] = "categories";
    transformed["basicCategoryTitle"] = "Info";
  }
  return transformed || schema;
}
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";
textarea {
  width: 100%;
}
</style>
