<template>
  <div class="container">
    <!-- <h2>Telegram Dialog</h2> -->
    <details>
      <summary>Json Data</summary>
      <pre contenteditable="true">{{ JSON.stringify(data, null, 2) }}</pre>
    </details>

    <input type="text" placeholder="agent" :value="data.payload.agent" />
    <input type="text" placeholder="chat" :value="data.payload.chat" />

    <div>
      <span>if:</span>
      <div v-for="(condition, key) in data.payload.if" :key="key">
        <label for="contains">CONTAINS</label>
        <br />
        <input
          placeholder="contains"
          name="contains"
          :value="condition.contains"
        />
        <br />
        <label for="respond">RESPOND</label>
        <br />
        <textarea
          rows="10"
          cols="45"
          placeholder="respond"
          name="respond"
          v-for="(respond, key) in condition.respond"
          :key="key"
          v-model="respond.text"
          @change="handleChange(data)"
        />
        <br />
        <!-- <label for="respond">NEXT</label>
          <input placeholder="next" :value="condition.next" name="next" /> -->
        <!-- FIXME this seems wrong!? -->
        <Line from="SMALLTALK" :next="condition.next" />
        <hr />
      </div>
      <span>else:</span>
      <div v-if="data.payload.else">
        <br />
        <textarea
          rows="10"
          cols="45"
          placeholder="respond"
          name="respond"
          v-for="(respond, key) in data.payload.else.respond"
          :key="key"
          v-model="respond.text"
          @change="handleChange(data)"
        />
        <br />
        <!-- FIXME this seems wrong!? -->
        <Line from="SMALLTALK" :next="data.payload.else.next" />
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import Line from "@/components/Stage/Line.vue";
import { computed } from "@vue/runtime-core";

export default {
  name: "telegram_dialog",
  props: ["data", "id"],
  components: { Line },
  emits: ["dataChanged"],
  setup(props, { emit }) {
    const store = useStore();

    const parentState = computed(() => store.getters.stateByActionId(props.id));
    const handleChange = (data) => {
      console.log("handleChange in telegram", data);
      emit("dataChanged", data);
    };
    return { parentState, handleChange };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.container {
  padding: 0em 1em;
}
</style>
